// Reds
$hotPink: #ff005e;
.hotPink {
    color: $hotPink;
}
.hotPinkBg {
    background-color: $hotPink;
}

$lightPink: #fdbac0;
.lightPink {
    color: $lightPink;
}
.lightPinkBg {
    background-color: $lightPink;
}

$maroon: #93003a;
.maroon {
    color: $maroon;
}
.maroonBg {
    background-color: $maroon;
}

$pink: #f17788;
.pink {
    color: $pink;
}
.pinkBg {
    background-color: $pink;
}

$red: #ab170a;
.red {
    color: $red;
}
.redBg {
    background-color: $red;
}

// Oranges
$darkOrange: #cc6523;
.darkOrange {
    color: $darkOrange;
}
.darkOrangeBg {
    background-color: $darkOrange;
}

$lightOrange: #FF9F4A;
.lightOrange {
    color: $lightOrange;
}
.lightOrangeBg {
    background-color: $lightOrange;
}

$orange: #e68237;
.orange {
    color: $orange;
}
.orangeBg {
    background-color: $orange;
}

$orangeTan: #ffc48f;
.orangeTan {
    color: $orangeTan;
}
.orangeTanBg {
    background-color: $orangeTan;
}

// Blues
$blue: #0d5eaf;
.blue {
    color: $blue;
}
.blueBg {
    background-color: $blue;
}

$blueGrey: #265079;
.blueGrey {
    color: $blueGrey;
}
.blueGreyBg {
    background-color: $blueGrey;
}

$bluePurple: #1e2761;
.bluePurple {
    color: $bluePurple;
}
.bluePurpleBg {
    background-color: $bluePurple;
}

$whiteBlue: #eeffff;
.whiteBlue {
    color: $whiteBlue;
}
.whiteBlueBg {
    background-color: $whiteBlue;
}

// Purples
$purple: #8e2d6b;
.purple {
    color: $purple;
}
.purpleBg {
    background-color: $purple;
}

$purpleBlue: #4000d5;
.purpleBlue {
    color: $purpleBlue;
}
.purpleBlueBg {
    background-color: $purpleBlue;
}

// Browns
$brown: #493827;
.brown {
    color: $brown;
}
.brownBg {
    background-color: $brown;
}

// Blacks, Whites, Greys
$black: #1e1f21;
.black {
    color: $black;
}
.blackBg {
    background-color: $black;
}

$charcoal: #222222;
.charcoal {
    color: $charcoal;
}
.charcoalBg {
    background-color: $charcoal;
}

$grey: #777777;
.grey {
    color: $grey;
}
.greyBg {
    background-color: $grey;
}

$lightGrey: #bbbbbb;
.lightGrey {
    color: $lightGrey;
}
.lightGreyBg {
    background-color: $lightGrey;
}

$white: #ffffff;
.white {
    color: $white;
}
.whiteBg {
    background-color: $white;
}

// Neon Theme
$neonBg: #2c08d8;
$neonBgDark: #16064e;
.neonBgDark {
    color: $neonBgDark;
}
.neonBgDarkBg {
    background-color: $neonBgDark;
}

$neonBlue: #ecf9ff;
$neonBlueShadow: #68cef9;
$neonGreen: #ecffef;
$neonGreenShadow: #68f985;
$neonOrange: #fff9ec;
$neonOrangeShadow: #f9de68;
$neonPink: #ffecfb;
$neonPinkShadow: #f80684;
$neonPurple: #f9ecff;
$neonPurpleShadow: #de68f9;
$neonYellow: #fffeec;
$neonYellowShadow: #f9f968;

$reflectionPink: #b241fe;
$reflectionBg: #710bf3;


// Components
$topNavBg: $charcoal;

$sectionDarkBg: $purpleBlue;

